<!-- Start Home -->
<section id="home" data-stellar-background-ratio="0.6">
	<div class="parallax-overlay"></div> 
    <div class="home-container text-center">
    	<div class="home-title liquid-slider" id="slider-home">
        	
            {% set banners = __SELF__.banners %}

            {% for banner in banners %}
                <div>
                    <h1>
                        {{ html_strip(banner.title) }}
                    </h1>
                    <p class="lead">{{ html_strip(banner.description) }}</p>
                    <div class="home-btn">
                        <h4 class="btn-home"><a href="#about">Saiba mais..</a></h4>
                    </div>
                </div>
            {% endfor %}
    	</div>
    </div>
    <div class="home-bottom">
    	<div class="container text-center">
            <div class="move">
                <a href="#about" class="fa fa-chevron-down"></a>
                <div class="dots"></div>  
            </div>  
    	</div> 
    </div>
</section>
<!-- End Home -->