<div class="col-lg-12 section-title wow fadeIn">
    <h2><small>What We Do</small><br><strong>Our Capabilities</strong></h2>
    <p class="lead">A highly skilled professional service with a <span class="highlight">creative touch.</span></p>
</div>

<div class="services-container">
    <div class="row services-row">
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="service">
                <div class="service-icon">
                    <i class="icon ion-ios-monitor-outline ion-3x highlight"></i>
                    <i class="icon ion-ios-monitor-outline back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Graphic Design<br><small>Crafting with Love </small></h4>
                    <p class="service-description">Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis tristique diam, ut ullamcorper tellus. Cras porttitor massa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
            <div class="service">
                <div class="service-icon">
                    <i class="icon ion-social-github ion-3x highlight"></i>
                    <i class="icon ion-social-github back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Crazy Coding<br><small>Hand Developing</small></h4>
                    <p class="service-description">Nullam id ornare magna. Nullam eu nisi porttitor, aliquam mi sit amet, viverra diam. Maecenas vitae mollis est. Nunc nec lectus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
            <div class="service">
                <div class="service-icon">
                    <i class="icon ion-speedometer ion-3x highlight"></i>
                    <i class="icon ion-speedometer back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Web Optimization<br><small>Faster than Light</small></h4>
                    <p class="service-description">Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet adipiscing metus vel fermentum. Sed velit.</p>
                </div>
            </div>
        </div>                
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
            <div class="service">
                <div class="service-icon">
                    <i class="icon ion-map ion-3x highlight"></i>
                    <i class="icon ion-map back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Branding<br><small>Making a New You</small></h4>
                    <p class="service-description">In pulvinar sapien ipsum, vel scelerisque ligula fringilla in. Donec mi urna, aliquet ac arcu vel, feugiat fermentum leo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="service">
                <div class="service-icon">
                	<i class="icon ion-ionic ion-3x highlight"></i>
                    <i class="icon ion-ionic back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Customer Support<br><small>And Affinity</small></h4>
                    <p class="service-description">Duis vel est nec sapien suscipit gravida. Integer vitae tortor dui. Donec libero quam, euismod sit amet enim ac, varius.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
            <div class="service">
                <div class="service-icon">
                    <i class="icon ion-paper-airplane ion-3x highlight"></i>
                    <i class="icon ion-paper-airplane back-icon"></i>
                </div>
                <div class="service-info">
                  <h4>Having Fun<br><small>Office Surfing (with chairs!)</small></h4>
                    <p class="service-description">Etiam cursus nunc vitae auctor semper. In commodo ligula eu faucibus mattis. Maecenas sed consectetur orci. Curabitur dui.</p>
                </div>
            </div>
        </div>                
    </div>
</div>