description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PortalBrasil - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}"/>
        <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, responsive, mobile, Branding"/>
        <meta name="author" content="Breno Douglas"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme}}" type="image/x-icon"> 
        {% styles %}
        <link href="{{ [
            'assets/css/style.css',
            'assets/css/colors/blue.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>
        
        <!-- Start Preloader -->
        <div class="preloader"> 
            <h4 class="preloader-logo">Portal<span class="highlight">Brasil</span></h4>
            <div class="spinner"></div>
        </div>
        <!-- End Preloader -->
            
            {% page %}

            {% partial 'footer' %}
        </div>
        
         <!-- jQuery Plugins -->
        <script src="{{ 'assets/js/plugins/jquery.min.js'|theme}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> 
        <script src="{{ 'assets/js/plugins/waypoints.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/wow.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/jquery.counterup.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/jquery.easing.1.3.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/jquery.touchSwipe.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/jquery.cubeportfolio.min.js'|theme}}"></script>
        <script src="{{ 'assets/js/plugins/revslider.min.js'|theme}}"></script>
        
         <!-- Scripts -->
        <script src="{{ [
            'assets/js/plugins/bootstrap.min.js',
            'assets/js/plugins/smoothscroll.js',
            'assets/js/plugins/jquery.liquid-slider.js',
            'assets/js/plugins/jquery.stellar.js',
            'assets/js/plugins/jquery.sticky.js',
            'assets/js/plugins/moderniz.min.js',
            'assets/js/plugins/jquery.flexslider-min.js',
            'assets/js/plugins/jquery.mb.YTPlayer.js',
            'assets/js/plugins/jquery.backstretch.min.js',
            'assets/js/plugins/tweetie.js',
            'assets/js/plugins/gmap3.min.js',
            'assets/js/scripts.js',
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>