<div class="col-lg-12 text-center wow fadeInUp" id="contact">
    <div id="message"></div>
    <form 
        data-request="{{ __SELF__ }}::onSendEmail"
        data-request-success="$('#contactform').trigger('reset')"
        data-request-update="'{{__SELF__}}::message' : '#resultMessage' "
        name="contactform" 
        id="contactform">
        <fieldset>
        <div class="col-md-6"> 
            <input name="name" type="text" id="name" size="30" value="" placeholder="Nome"/>
            <br />
            <input name="email" type="text" id="email" size="30" value="" placeholder="Email"/>
            <br /> 
            <input name="phone" type="text" id="phone" size="30" value="" placeholder="Telefone"/>
        </div>
        <div class="col-md-6"> 
            <textarea name="comments" cols="40" rows="5" id="comments" placeholder="Mensagem"></textarea>
        </div>
        <div class="col-md-12 text-center">
            <input type="submit" class="submit" id="submit" value="Enviar" />
        </div>
        </fieldset>
    </form>
</div>


<div class="col-lg-12 text-center wow fadeInUp" id="resultMessage">
        {% partial __SELF__ ~ '::message' send=__SELF__.send %}
</div>