
{% set members = __SELF__.members %}

{% for member in members %}
    <div class="col-md-4 col-sm-4 team-member">
        <div class="effect effects">
            <div class="img">
                <img src="{{ member.content_image.path }}" class="img-responsive wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        {% if member.facebook %}
                            <li class="social-icon"><a href="{{ member.facebook }}"><i class="icon-social-facebook"></i></a></li>
                        {% endif %}
                        
                        {% if member.twitter %}
                            <li class="social-icon"><a href="{{ member.twitter }}"><i class="icon-social-twitter"></i></a></li>
                        {% endif %}
                   </ul>
                    <a class="close-overlay hidden">x</a>
                </div>
            </div>
        </div>    
        <div class="member-info wow fadeInUp">
            <h4>{{ member.name }}<br><small class="highlight">{{ member.role }}</small></h4> 
            <p>{{ member.description }}</p>
        </div>
    </div> 
{% endfor %}