<div id="filters-container-fullwidth" class="cbp-l-filters-button wow fadeInUp">
    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">Todas<div class="cbp-filter-counter"></div></div>
    {% for category in __SELF__.categories %}
        <div data-filter=".{{ str_lower(category.name) }}" class="cbp-filter-item">{{ category.name }}<div class="cbp-filter-counter"></div></div>
    {% endfor %}
</div>

<div id="result">
	{% partial __SELF__ ~ '::itens' portifolios=__SELF__.portifolios %}
</div>