
    <div id="grid-container-fullwidth" class="cbp-l-grid-fullScreen">
        <ul>   
            {% for portifolio in portifolios %}
                <li class="cbp-item effect effects {{ str_lower(portifolio.portifolio_category.name) }}">
                    <div class="img">
                        <img src="{{portifolio.images[0].path}}" class="img-responsive" alt="{{portifolio.name}}" />
                        <div class="overlay">
                            <ul class="expand">
                                <li class="cbp-l-caption-title">{{portifolio.name}}</li>
                               
                                <li class="cbp-l-icon">
                                    <a href="{{portifolio.images[0].path}}" class="cbp-lightbox" data-title="{{portifolio.name}}">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>

                                <li class="cbp-l-icon">
                                    <a href="{{ 'project'|page({project_id: portifolio.id})}}" class="cbp-singlePage">
                                        <i class="icon-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li> 
            {% endfor %}
        </ul>
    </div>

<br>
 
                            
{% if more %}
    <div class="cbp-l-loadMore-button">
        <button 
            data-request="{{ __SELF__ }}::onMoreItens"
            data-request-update="'{{__SELF__}}::itens' : '#result' "
            data-request-data="total: {{total}}"
            data-request-success="onLoadPortifolio(jQuery, window, document)"
            class="btn btn-primary wow fadeInUp">Mais..</button>
    </div>

{% else %}
  <div class="cbp-l-loadMore-button">
        <button class="btn btn-default wow fadeInUp" disabled="disabled">Não há mais..</button>
  </div>
{% endif %}
