
{% set total = 0 %}
{% set services = __SELF__.services %}

{% for service in services %}
    
    {% if total == 0 %}  
        <div class="row">
    {% endif %}
        
        <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
            <div class="about-row">
                <div class="about-icon">
                    <i class="icon {{ service.icon }} ion-3x highlight"></i>
                    <i class="icon {{ service.icon }} back-icon"></i>
                </div>
                <div class="about-info">
                    <h4> {{ service.title }} <br><small> {{ service.subtitle }} </small></h4>
                    <p class="about-description">
                        {{ service.description }}
                    </p>
                </div>
            </div>
        </div>    

    {% if total == 1 %}
        </div>
        {% set total = 0 %}
    {% else %}
        {% set total = total + 1 %}
    {% endif %}

{% endfor %}

{% if total > 0 %}
    </div>
{% endif %}