<div class="col-md-6 col-md-skills wow fadeInUp" data-wow-delay="0.3s">
	<div class="skills-col">
    	
        {% set skills = __SELF__.skills %}

        {% for skill in skills %}
            
             <p><em>{{ skill.title}} </em></p>
            <div class="skillbar" data-percent="{{skill.value}}%">
                <div class="skillbar-title"><span>{{skill.value}}%</span></div>
                <div class="skillbar-bar"></div>
            </div>

        {% endfor %}   
    </div>
</div> 