title = "Demonstration"
url = "/"
layout = "default"
is_hidden = "0"

[banner]


[about]


[skills]


[portifolio]


[services]


[contact]


[team]
==
{% component 'banner' %}

{% partial "nav" %}

<div class="site-wrapper">
<!--Start About-->
<section id="about">
    <div class="container content">
        
         <div class="col-lg-12 section-title-about wow fadeInUp">
            <h2><small>Nós somos a PortaBrasil </small> <br>Fazendo a sua marca crescer</h2>
            <p class="lead">Nós criamos experiências que <span class="highlight">transformam marcas</span> com grandes ideias</p>
        </div>

       {% component 'about' %}
        
    </div>
</section>
<!--End About-->

<!-- Start Who We Are -->
<section id="who-we-are" data-stellar-background-ratio="0.6">
    <div class="row" style="position:relative;">
        <div class="parallax-overlay"></div> 
        <div class="container">

        <div class="col-md-6 col-we-are wow fadeInUp">
            <h2 class="we-are-info">Nossas Qualidades<br><small class="highlight">Fazemos com muita vontade</small></h2>          
            <br>
            <p class="p-info">Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet posuere. Praesent condimentum nulla at mauris ornare, eget consequat felis euismod.</p> 
            <p class="p-info">Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis viverra purus tristique. Integer lobortis erat in placerat fermentum. Sed luctus varius leo ac posuere. Integer eget est vitae dolor.</p>  
        </div>


        {% component 'skills' %}
            
        </div>
    </div>
</section>
<!-- End Who We Are -->

<!-- Start Team -->
<section id="team">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 section-title-team wow fadeInUp">
            <h2>Uma pequena equipe <small>com Grandes Ideias</small></h2>
            <p class="lead">Uma equipe interdiciplinar com <span class="highlight">grandes ideias</span></p>
        </div> 
       {% component 'team' %}
        </div>
    </div>
</section>
<!-- End Team -->

<!-- Start Portfolio Section -->  
<section id="portfolio"> 
    <div class="container">
        <div class="col-lg-12 section-title wow fadeInUp">
            <h2><small>Dê uma olhada em</small><br><strong>Alguns de nossos trabalhos</strong></h2>
            <p class="lead">Muitos projetos <span class="highlight">digitais</span> de sucesso.</p>
        </div>

       {% component 'portifolio' %}
        
    </div>
</section>
<!-- End Portfolio Section -->   

<!-- Start Contact Details -->
<section id="contact-details" data-stellar-background-ratio="0.7">
    <div class="row text-center" style="position:relative;">
        <div class="parallax-overlay"></div> 
        <div class="container">
                <div class="details col-lg-12 wow fadeInUp">
                    <div class="phone-info">
                        <h1><i class="fa fa-phone"></i> 48-1516-2342</h1>
                    </div>
                    <div class="col-lg-12">
                        
                        <h3><small class="white">support@<span class="highlight">domain.com</span></small></h3>
                        
                        <h3><small class="white">Wunderkind, 36th Floor, 5th Ave. </small><span class="highlight">New York</span></h3>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- End Contact Details -->

<!-- Start Contact Form -->
<section id="contact-form">
    <div class="container">
        <div class="col-lg-12 section-title-price wow fadeInUp">
            <h2><small>Fale Conosco</small><br><strong>Contate-nos</strong></h2>
            <p class="lead">Gostariamos de <span class="highlight">ouvir você.</span></p>
        </div>
        
        {% component 'contact' %}
    </div>
</section>
<!-- End Contact Form -->

<!-- Start Google Map -->
<section>
    <div id="map"></div>
</section>
<!-- End Google Map -->