<!-- Start Footer -->
<footer id="footer">
	<div class="col-lg-12 text-center">
		<div class="back-to-top">
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
	<div class="container text-center">
    	<div class="row">
        	<div class="col-md-12 footer-social">
                <ul class="connected-icons text-center">
                    <li class="connected-icon"><a target="_blank" href="#"><i class="fa fa-twitter fa-2-5x"></i></a></li>
                    <li class="connected-icon"><a target="_blank" href="#"><i class="fa fa-facebook fa-2-5x"></i></a></li>
                    <li class="connected-icon"><a target="_blank" href="#"><i class="fa fa-instagram fa-2-5x"></i></a></li>
                </ul>
            </div>
            
            <p>Making your brand shine!</p>
            <h4 class="footer-logo"><a href="#">Wunderkind</a></h4>
            
            <div class="col-lg-12 footer-menu">
                <span class="pull-left">Copyright © 2014 <a href="#" style="margin:0;">Wunderkind</a>. All Rights Reserved.</span>
                <span class="pull-right">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#services">Services</a>
                    <a href="#portfolio">Work</a>
                    <a href="#contact">Contact</a>
                    <a href="http://themeforest.net/item/wunderkind-one-page-parallax-theme/7601990"><span class="btn btn-primary btn-buy">Buy Now</span></a> 
                </span>
            </div>
            
           
		</div>
    </div>
</footer>
<!-- End Footer -->