==
<!--Start Header-->
<section id="fixed-navbar">
	<nav class="navbar navbar-default navbar-sticky" role="navigation">
		<div class="container">
            
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
			    </button>
                <a class="navbar-brand" rel="home" href="#" title="wunderkind."><h3>Portal<span class="highlight">Brasil</span></h3></a>
			</div>

            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav  navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
				    <li><a href="#portfolio">Work</a></li>
                    
                    <li class="dropdown">
                        <span class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></span>
                        <ul class="dropdown-menu">
                            <li><a href="#get-connected">Get Connected</a></li>
                            <li><a href="#clients">Clients</a></li>
                            <li><a href="#price-list">Price List</a></li>
                            <li><a href="shortcodes.html"><span class="label label-primary">Shortcodes</span></a></li> 
                            <li><a href="blog.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="#contact-form">Contact</a></li>
                    <li><a href="http://themeforest.net/item/wunderkind-one-page-parallax-theme/7601990"><span class="btn btn-primary btn-buy">Buy Now</span></a></li> 
                  
                    <li><a class="social-icon" href="#"><i class="icon icon-social-twitter"></i></a></li>
                    <li><a class="social-icon" href="#"><i class="icon icon-social-facebook"></i></a></li>
                    <li><a class="social-icon" href="#"><i class="icon icon-support"></i></a></li>
                  
              </ul>
            </div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
</section>
<!--End Header-->